article * {
  --clr-neutral-900: #333;
  --clr-neutral-100: #ececec;
  --clr-accent-500: hsl(220, 100%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  color: var(--clr-neutral-100);
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 23ch;
  aspect-ratio: 209/294;
  border-radius: .5rem;
  overflow: hidden;
  /* Transición de crecimiento de la tarjeta en el :hover */
  transition: transform 150ms ease;
}
 
.card:hover,
.card:focus-within { 
  /* focus-within sirve para aplicar el cambio cuando algo dentro del elemento está siendo focuseado */
  transform: scale(1.03);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / .3) 20%,
    hsl(0 0% 0% / 1)
  ); 
  /* Transición de subida de la info */
  transform: translateY(72%);
  transition: transform 500ms ease;
}

.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(0%);
  /* Delay de la transición para que se muestre tras la barra */
  transition-delay: 250ms;
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}

/* Transición opacidad creciente del texto excepto el título */

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 300ms linear;
}

.card:hover .card-content > *,
.card:focus-within .card-content > * {
  opacity: 1;
  /* Delay de la transición para mostrarse tras la barra y la subida */
  transition-delay: 550ms;
}

/* Puede ser buena idea cambiar el transition-delay del focus-within específico para no esperar a que pase algo que ya ha pasado */
 
.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  bottom: 0;
  background: var(--clr-accent-500);
  /* Transición de la línea aul de abajo
     Yo no quiero esta línea, luego la borraré (la borrarás)
  */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease;
  
}

.card:hover .card-title::after,
.card:focus-within .card-title::after  {
  transform: scaleX(1);
}

.button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-500);
  padding: 0.5em 1.25em;
  border-radius: .25rem;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100)
}

/* Minuto 25:27 */

/* Minuto 43:01 -> adaptar los comportamientos a mobile (se borrarán cosas) */