.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: auto;
  place-content: center;
}

.card {
  margin: auto;
}

@media screen and (min-width: 525px) {
  .card-container {
    width: calc(46ch + 1rem);
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 750px) {
  .card-container {
    width: calc((69ch + 2rem));
    grid-template-columns: 1fr 1fr 1fr;

  }
}
